body {
    background-color: #01171b;
}

.map-parent {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map-child {
    padding: 3%;
    background-color: rgba(117, 165, 105, 0.662);
    color: white;
    text-align: center;
    border-radius: 30px; 
    height: 860px;
    width: 2000px;
    transform: scale(.6, .6);
}
svg path {
    fill: #7a8693;
    stroke: 0.6s;
    stroke-width: .25;
}

svg path:hover {
    fill: #006284;
    cursor: pointer;
}


.United-States {
    fill: #00f2ff;
}

.Canada {
    fill: #0c3d62;
}

.Australia {
    fill: #084463;
}

.United-Kingdom, .Colombia, .Norway, .Libya, .China, .Qatar, .Japan, .Cambodia, .Malaysia {
    fill: #476daf;
}


.tooltip {  
    position: relative;  
    display: inline-block;  
    border-bottom: 1px dotted black;  
}  

.tooltip .tooltiptext {  
    visibility: hidden;  
    width: 120px;  
    background-color: black;  
    color: #fff;  
    text-align: center;  
    border-radius: 6px;  
    padding: 5px 0;  
    /* Position the tooltip */  
    position: absolute;  
    z-index: 1;  
    bottom: 100%;  
    left: 50%;  
    margin-left: -60px;  
}  

.tooltip:hover .tooltiptext {  
        visibility: visible;  
}