$color_level1:#51d287;
$color_level2: #46b173;
$color_level3:#378c5a;
$color_level4:#173a26;
$color_level5:#26633f;

body {
    background-color: #01171b;
}

table, th, td {
    text-align: center;
    border: 1px solid #D5F8CE;
    border-collapse: collapse;
  }
  th {
    background-color: rgba(255, 255, 255, 0.175);
  }

input[type=button] {
    width: 250px;  height: 80px;
    margin: 2px;
    font-size: 30px;
}
input[type=button]:focus {
    background-color: #D5F8CE;
}

.title {
    color: #D5F8CE;
    font-size: 100px;
    text-align: center;
}

#container {
    transform: scale(.6, .6);
    background-size: 100% 100%;
    color: #D5F8CE;
    text-align: center;
    font-size: 50px;
}

#map-parent {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#map-child {
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.175);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    border-radius: 30px; 
    height: 860px;
    width: 2000px;
}
svg path {
    fill: $color_level1;
    stroke: 0.6s;
    stroke-width: .25;
}
svg path:hover {

}

svg path:hover {
    fill: $color_level1;
    cursor: pointer;
}


.United-States {
    fill: $color_level5;
}

.Canada {
    fill: $color_level4;
}

.Australia {
    fill: $color_level3;
}

.United-Kingdom, .Colombia, .Norway, .Libya, .China, .Qatar, .Japan, .Cambodia, .Malaysia {
    fill: $color_level2;
}


.tooltip {  
    position: relative;  
    display: inline-block;  
    border-bottom: 1px dotted black;  
}  

.tooltip .tooltiptext {  
    visibility: hidden;  
    width: 120px;  
    background-color: black;  
    color: #fff;  
    text-align: center;  
    border-radius: 6px;  
    padding: 5px 0;  
    /* Position the tooltip */  
    position: absolute;  
    z-index: 1;  
    bottom: 100%;  
    left: 50%;  
    margin-left: -60px;  
}  

.tooltip:hover .tooltiptext {  
        visibility: visible;  
}